<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-5 pb-2 mb-3 border-bottom">
    <h1 class="h2"><%= @user.username.titlecase%>'s Tools</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'New Tool', new_user_tool_path(@user)%></button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
      </div>
      <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <span data-feather="calendar"></span>
        This week
      </button>
    </div>
  </div>
  <%= form_with(model: tool, local: true) do |form| %>
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    <div class="field">
      <%= form.label :price %>
      <%= form.number_field :price %>
    </div>
    <div class="field">
      <%= form.label :fuel_level %>
      <%= form.text_field :fuel %>
    </div>
    <div class="field">
      <%= form.label :next_tune_up_date %>
      <%= form.date_field :tune_up %>
    </div>
    <div class="field">
      <%= form.hidden_field :user_id, :value => @user.id %>
      <%= form.label :Fields_for %>
      <%= form.collection_select :field_id, current_user.fields.all, :id, :field_name %>
      <div class="field">
        <%= form.hidden_field :user_id, :value => @user.id %>
      </div>
      <br>
      <div class="actions">
        <button class="btn btn-primary" type="submit">Save</button>
      </div>
    <% end %>
