<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-5 pb-2 mb-3 border-bottom">
    <h1 class="h2"><%= current_user.username.titlecase%>'s Equipment</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'New Tool', new_tool_path %></button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
      </div>
      <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <span data-feather="calendar"></span>
        This week
      </button>
    </div>
  </div>
   </li><div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>Field and Cattle detail as of <%= Time.zone.now.strftime("%m/%d/%Y") %></div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Field</th>
                        <th>Price</th>
                        <th>Tune Up Date</th>
                        <th>Fuel Level</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                    <% current_user.tools.each do |tool| %>
                      <td><%= tool.name.titlecase %> </td>
                      <td><%= tool.field_ids %></td>
                      <td><%= tool.price %> </td>  
                      <td><%= tool.tune_up%></td>
                      <td><%= tool.fuel %></td>
                  </tr>
                  <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  
