<form class="form-signin">
  <div class="text-center mb-4">
    <img class="mb-4" src="images/cow_logo.jpg" alt="l" width="72" height="72">
    
    <h1 class="h3 mb-3 font-weight-normal">Sign-In</h1>
    <p>Welcome to Cattle-Log.</p>
  </div>

  <div class="form-label-group">
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
    <label for="inputEmail">Email address</label>
  </div>

  <div class="form-label-group">
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
  </div>

  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <p class="mt-5 mb-3 text-muted text-center">© 2019</p>



<%= form_for @user, url: login_path, method: :post do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <%= collection_select(:user, :username, User.all, :username, :username, prompt: "Please select your username from this dropdown") %>
  <%= f.label :password %>
  <%= f.password_field :password, :id => "password" %>
  <%= f.submit "Sign In" %>
  Or <%= link_to(controller: 'users', action: 'new') { 'sign up' } %>
<% end %>

</form>
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
 
</body>
</html>
