

 
<section class="call-to-action text-white text-center" style="background-image: url('https://i.ibb.co/d0YkNvJ/background2.png');">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
      <img class="img-responsive"<a href="https://ibb.co/MnKzJwC"><img src="https://i.ibb.co/MnKzJwC/cow-background-300.png" alt="cow-background-300" width="150" height="150"></a>
      </div>
      <div class="mx-auto">
      <h1 class="h3 mb-3 font-weight-normal">Join Cattlelog</h1>

<!-- Ruby  -->

<% if @user.errors.any? %>
        <% user.errors.full_messages.each do |message| %>
        <%= message %>
        <% end %>
  <% end %>
  <div class="col-xl-9 mx-auto">
  <p> <%= form_with(model: user, local: true) do |form| %> </p>
  <input class="form-control form-control-lg" placeholder="Username" required=""<%= form.text_field :username%>
  <input class="form-control form-control-lg" placeholder="Email"  required="" <%= form.text_field :email %>
  <input class="form-control form-control-lg" placeholder="Password"  required="" <%= form.password_field :password, :id => "password" %>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
  <label>
  <input type="checkbox" value="remember_me"> Remember me  
  </label> 
  <% end %>
</div>
        </div>
      </div>
    </div>
  </div>
</section>

  