<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-5 pb-2 mb-3 border-bottom">
    <h1 class="h2"><%= @user.username.titlecase%>'s Account Details</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <p><%= notice %></p>
        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
      </div>
      <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <span data-feather="calendar"></span>
        This week
      </button>
    </div>
  </div>
  <!------ RUBY START ------->
  <p><%= form_with(model: @user, local: true) do |form| %></p>
    <div class="row">
      <ul>
        <p id="user_admin">
          <strong>Admin Status?</strong>
          <%= @user.admin %>
          <div class="col-15">
            <%= form.label :admin %>
            <%= form.check_box :admin %>
          </p>
          <strong>Username:</strong>
          <%= @user.username %>
          <div class="col-15">
            <input type="username" class="form-control" placeholder="Name" <%= form.text_field :name %>
        </div>
            <strong>Email:</strong>
            <%= @user.email %>
            <div class="col-15">
              <input type="email" class="form-control" placeholder="id" <%= form.text_field :email %>
        </div>
              <strong>Password:</strong>
              <%= @user.password %>
              <div class="col-15">
                <input type="password" placeholder="Password" <%= form.text_field :password %>
        </div>
                <p>
                  <div class="col-15">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Edit</button>
                  </div>
                </ul>
              </div>
            <% end %>
