<% if @user.errors.any? %>
    <div id="error">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div> 
  <% end %>

<p><%= notice %></p>
<%= render 'form', user: @user %>

<h1>Sign Up</h1>

<%= link_to 'Back', users_path %>
