<strong>Account Details 
for <%= @user.username %>, </strong>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Fields', fields_path(@user) %> |
<%= link_to 'Expenses', expenses_path(@user) %> |
<%= link_to 'Cows', cows_path(@user) %> |
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> |

