<%= form_with(model: expense, local: true) do |form| %>
  <% if expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

      <ul>
        <% expense.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :expense_name %>
    <%= form.text_field :expense_name %>
  </div>

  <div class="field">
    <%= form.label :truck %>
    <%= form.number_field :truck %>
  </div>

  <div class="field">
    <%= form.label :chemicals %>
    <%= form.number_field :chemicals %>
  </div>

  <div class="field">
    <%= form.label :conservation %>
    <%= form.number_field :conservation %>
  </div>

  <div class="field">
    <%= form.label :depreciation %>
    <%= form.number_field :depreciation %>
  </div>

  <div class="field">
    <%= form.label :employees %>
    <%= form.number_field :employees %>
  </div>

  <div class="field">
    <%= form.label :feed %>
    <%= form.number_field :feed %>
  </div>

  <div class="field">
    <%= form.label :freight %>
    <%= form.number_field :freight %>
  </div>

  <div class="field">
    <%= form.label :gas %>
    <%= form.number_field :gas %>
  </div>

  <div class="field">
    <%= form.label :insurance %>
    <%= form.number_field :insurance %>
  </div>

  <div class="field">
    <%= form.label :interest %>
    <%= form.number_field :interest %>
  </div>

  <div class="field">
    <%= form.label :mortgage %>
    <%= form.number_field :mortgage %>
  </div>

  <div class="field">
    <%= form.label :rent %>
    <%= form.number_field :rent %>
  </div>

  <div class="field">
    <%= form.label :repais %>
    <%= form.number_field :repais %>
  </div>

  <div class="field">
    <%= form.label :seeds %>
    <%= form.number_field :seeds %>
  </div>

  <div class="field">
    <%= form.label :storage %>
    <%= form.number_field :storage %>
  </div>

  <div class="field">
    <%= form.label :supplies %>
    <%= form.number_field :supplies %>
  </div>

  <div class="field">
    <%= form.label :taxes %>
    <%= form.number_field :taxes %>
  </div>

  <div class="field">
    <%= form.label :vet %>
    <%= form.number_field :vet %>
  </div>

  <div class="field">
    <%= form.label :tools %>
    <%= form.number_field :tools %>
  </div>

  <div class="field">
    <%= form.label :fencing_land %>
    <%= form.number_field :fencing_land %>
  </div>

  <div class="field">
    <%= form.label :calf %>
    <%= form.number_field :calf %>
  </div>

  <div class="field">
    <%= form.label :dues %>
    <%= form.number_field :dues %>
  </div>

  <div class="field">
    <%= form.label :misc_labor %>
    <%= form.number_field :misc_labor %>
  </div>

  <div class="field">
    <%= form.label :professional_fees %>
    <%= form.number_field :professional_fees %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :field_id%>
    <%= form.text_field :field_id %>
  </div>

  <div class="field">
    <%= form.label :cow_id %>
    <%= form.number_field :cow_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
