<p id="notice"><%= notice %></p>

<p>
  <strong>Expense name:</strong>
  <%= @expense.expense_name %>
</p>

<p>
  <strong>Truck:</strong>
  <%= @expense.truck %>
</p>

<p>
  <strong>Chemicals:</strong>
  <%= @expense.chemicals %>
</p>

<p>
  <strong>Conservation:</strong>
  <%= @expense.conservation %>
</p>

<p>
  <strong>Depreciation:</strong>
  <%= @expense.depreciation %>
</p>

<p>
  <strong>Employees:</strong>
  <%= @expense.employees %>
</p>

<p>
  <strong>Feed:</strong>
  <%= @expense.feed %>
</p>

<p>
  <strong>Freight:</strong>
  <%= @expense.freight %>
</p>

<p>
  <strong>Gas:</strong>
  <%= @expense.gas %>
</p>

<p>
  <strong>Insurance:</strong>
  <%= @expense.insurance %>
</p>

<p>
  <strong>Interest:</strong>
  <%= @expense.interest %>
</p>

<p>
  <strong>Mortgage:</strong>
  <%= @expense.mortgage %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @expense.rent %>
</p>

<p>
  <strong>Repais:</strong>
  <%= @expense.repais %>
</p>

<p>
  <strong>Seeds:</strong>
  <%= @expense.seeds %>
</p>

<p>
  <strong>Storage:</strong>
  <%= @expense.storage %>
</p>

<p>
  <strong>Supplies:</strong>
  <%= @expense.supplies %>
</p>

<p>
  <strong>Taxes:</strong>
  <%= @expense.taxes %>
</p>

<p>
  <strong>Vet:</strong>
  <%= @expense.vet %>
</p>

<p>
  <strong>Tools:</strong>
  <%= @expense.tools %>
</p>

<p>
  <strong>Fencing land:</strong>
  <%= @expense.fencing_land %>
</p>

<p>
  <strong>Calf:</strong>
  <%= @expense.calf %>
</p>

<p>
  <strong>Dues:</strong>
  <%= @expense.dues %>
</p>

<p>
  <strong>Misc labor:</strong>
  <%= @expense.misc_labor %>
</p>

<p>
  <strong>Professional fees:</strong>
  <%= @expense.professional_fees %>
</p>

<p>
  <strong>User:</strong>
  <%= @expense.user_id %>
</p>

<p>
  <strong>Field name:</strong>
  <%= @expense.field_id %>
</p>

<p>
  <strong>Cow tag:</strong>
  <%= @expense.cow_id %>
</p>

<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
