<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-5 pb-2 mb-3 border-bottom">
    <h1 class="h2"><%= current_user.username.titlecase%>'s Expenses</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <p><%= notice %></p>
        <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'New Expense', new_user_expense_path(@user) %></button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
      </div>
      <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <span data-feather="calendar"></span>
        This week
      </button>
    </div>
  </div>
    <% current_user.expenses.each do |expense| %>
                     <td><%= expense.name %></td>
                    <td><%= expense.date %></td>
                    <td><%= expense.description %></td>
                    <td><%= expense.truck %></td>
                    <td><%= expense.chemicals %></td>
                    <td><%= expense.conservation %></td>
                    <td><%= expense.depreciation %></td>
                    <td><%= expense.employees %></td>
                    <td><%= expense.feed %></td>
                    <td><%= expense.freight %></td>
                    <td><%= expense.gas %></td>
                    <td><%= expense.insurance %></td>
                    <td><%= expense.interest %></td>
                    <td><%= expense.mortgage %></td>
                    <td><%= expense.rent %></td>
                    <td><%= expense.repairs %></td>
                    <td><%= expense.seeds %></td>
                    <td><%= expense.storage %></td>
                    <td><%= expense.supplies %></td>
                    <td><%= expense.taxes %></td>
                    <td><%= expense.vet %></td>
                    <td><%= expense.tools %></td>
                    <td><%= expense.fencing %></td>
                    <td><%= expense.calf %></td>
                    <td><%= expense.dues %></td>
                    <td><%= expense.misc_labor %></td>
                    <td><%= expense.professional_fees %></td>
                    <td><%= expense.user_id %></td>
                    </tr>
                    <% end %>    
              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>
  <br>