<%= form_with(model: field, local: true) do |form| %>
  <% if field.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(field.errors.count, "error") %> prohibited this field from being saved:</h2>

      <ul>
        <% field.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :field_name %>
    <%= form.text_field :field_name %>
  </div>

  <div class="field">
    <%= form.label :acreage %>
    <%= form.number_field :acreage %>
  </div>

  <div class="field">
    <%= form.label :crop %>
    <%= form.text_field :crop %>
  </div>

  <div class="field">
    <%= form.label :coordinates %>
    <%= form.number_field :coordinates %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
