<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-5 pb-2 mb-3 border-bottom">
    <h1 class="h2"><%= @user.username.titlecase%>'s Fields</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'New Field', new_field_path %></button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
      </div>
      <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <span data-feather="calendar"></span>
        This week
      </button>
    </div>
  </div>
  <%= form_with(model: @field, local: true) do |form| %>
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :field_name %>
    </div>
    <div class="field">
      <%= form.label :acreage %>
      <%= form.number_field :acreage %>
    </div>
    <div class="field">
      <%= form.label :crop %>
      <%= form.text_field :crop %>
    </div>
    <div class="field">
      <%= form.label :latitude %>
      <%= form.text_field :latitude %>
    </div>
    <div class="field">
      <%= form.label :longitude %>
      <%= form.text_field :longitude %>
    </div>
    <div class="field">
      <%= form.hidden_field :user_id, :value => current_user.id %>
    </div>
    <br>
    <div class="actions">
      <button class="btn btn-primary" type="submit">Save</button>
    </div>
  <% end %>
