<p id="notice"><%= notice %></p>

<p>
  <strong>Field name:</strong>
  <%= @field.field_name %>
</p>

<p>
  <strong>Acreage:</strong>
  <%= @field.acreage %>
</p>

<p>
  <strong>Crop:</strong>
  <%= @field.crop %>
</p>

<p>
  <strong>Coordinates:</strong>
  <%= @field.coordinates %>
</p>

<p>
  <strong>User:</strong>
  <%= @field.user_id %>
</p>

<%= link_to 'Edit', edit_field_path(@field) %> |
<%= link_to 'Back', fields_path %>
