<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-5 pb-2 mb-3 border-bottom">
    <h1 class="h2"><%= @user.username.titlecase%>'s Herd</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'New Cow', new_user_cow_path(@user)%></button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
      </div>
      <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <span data-feather="calendar"></span>
        This week
      </button>
    </div>
  </div>
  <%= form_for(@cow) do |form| %>
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    <div class="field">
      <%= form.label :tag_number %>
      <%= form.number_field :tag_number %>
    </div>
    <div class="field">
      Cow Status
      <select name="cow[][status]" id="status">
        <option value="steer">steer</option>
        <option value="calf">calf</option>
        <option value="heifer">heifer</option>
        <option value="bull">bull</option>
      </select>
    </div>
    <div class="field">
      <%= form.label :age %>
      <%= form.number_field :age %>
    </div>
    <div class="field">
      <%= form.label :days %>
      <%= form.number_field :days %>
    </div>
    <div class="field">
      <%= form.label :birthdate %>
      <%= form.date_field :birthdate %>
    </div>
    <div class="field">
      <%= form.label :weight %>
      <%= form.number_field :weight %>
    </div>
    <div class="field">
      <%= form.label :health %>
      <%= form.text_field :health %>
    </div>
    <div class="field">
      <%= form.label :color %>
      <%= form.text_field :color %>
    </div>
    <div class="field">
      <%= form.hidden_field :user_id, :value => current_user.id %>
    </div>
    <div class="field">
      <%= form.label :notes %>
      <%= form.text_field :notes %>
    </div>
     <div class="field">
      <%= form.label :shots %>
      <%= form.text_field :shots %>
    </div>
    <div class="field">
      <%= form.label :history %>
      <%= form.text_field :history %>
    </div>
    <div class="field">
      <%= form.label :field_name %>
      <%= form.text_field :field_name %>
    </div>
    <div class="field">
      Pregnancy
      <select name="cow[][pregnant]" id="pregnant">
        <option value="yes">Yes</option>
        <option value="no">No</option>
        <option value="not sure">Unsure</option>
      </select>
    </div>
    <br>
    <div class="actions">
      <button class="btn btn-primary" type="submit">Save</button>
    </div>
  <% end %>
