<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= form_with(model: cow, local: true) do |form| %>
  <%= form.hidden_field :cow_id, :value => @cow.id %> 
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :tag_number %>
    <%= form.number_field :tag_number %>
  </div>

  <div class="field">
    <%= form.label :cow_status %>
    <%= form.text_field :cow_status %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :birthdate %>
    <%= form.number_field :birthdate %>
  </div>

  <div class="field">
    <%= form.label :weight %>
    <%= form.number_field :weight %>
  </div>

  <div class="field">
    <%= form.label :health %>
    <%= form.text_field :health %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color %>
  </div>

  <div class="field">
  <%= form.hidden_field :user_id, :value => current_user.id %> 
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_field :notes %>
  </div>

  <div class="field">
    <%= form.label :field_name %>
    <%= form.text_field :field_name %>
  </div>
<br>
  <div class="actions">
  <button class="btn btn-primary" type="submit">Save</button>
  </div>
<% end %>
